
 
<ion-view title="Unhealthy Habits">
    
<ion-nav-bar class="bar-acme">
        

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>

    </ion-nav-bar>


      <ion-content><!-- class="has-header padding">-->

  
<div class="card">
  <div class="item item-text-wrap">
  <h1 class="title"><center>46%</center></h1>
  
    of insured adults delayed or skipped needed care because of their copayment or coinsurance.  <b>Don't let this be you.</b>
  </div>
</div>


<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/skiptreatment.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/prescription.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/nodoctor.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/nospecialist.png"></div>
</div>
  </ion-slide>
</ion-slide-box>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-generac">
  <a></a>
  <a class="button button-icon icon ion-arrow-right-a" href="#/menu/adv2"></a>
  
</ion-footer-bar>
  
</ion-view>