<ion-view title="OUR OFFERINGS">
      <ion-nav-bar class="bar-acme">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
      <ion-content class="has-header padding">

<div class="button-bar"  ng-controller="WeatherCtrl">
  <a class="button icon ion-home" ng-click="homeClick();"></a>
  <a class="button icon ion-ribbon-b"  ng-click="directorClick();"></a>
  <a class="button icon ion-medkit" ng-click="accidentClick();"></a>
  <a class="button icon ion-key" ng-click="keyClick()"></a>
</div>

<ion-slide-box id="disasters" delegate-handle="disasters" on-slide-changed="slideHasChanged($index)" show-pager=false active-slide="myActiveSlide">
 <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/propertyins.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/directors.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/accident.png"></div>
</div>
  </ion-slide>
  <ion-slide>
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/keyman.png"></div>
</div>
  </ion-slide>
</ion-slide-box>


</div>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-generac">
  <a class="button button-icon icon ion-arrow-left-a" href="#/menu/adv1"></a>
  <a class="button button-icon icon ion-arrow-right-a" href="#/menu/compete"></a>
</ion-footer-bar>
</ion-view>
