<ion-view view-title="Doctors">
    <ion-nav-bar title="Doctors" ng-style="{'background-color': primarycolor}">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title"></h1>
        </ion-nav-buttons>

    </ion-nav-bar>
     <!--<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>-->
      <ion-content class="has-header padding">

  
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right" ng-repeat="doctor in doctors" type="item-text-wrap" href="#/menu/partner/{{doctors._id}}">
        <h2>{{doctor.doctorname}}</h2>
    <p>{{doctor.doctorcompany}}</p>
        <i class="icon ion-android-contact icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button" ng-click="doRefresh();">Refresh</button>
  </div>
  
  </div>
</ion-footer-bar>
</ion-view>
