
<ion-view view-title="Emergency Vehicles">
    <ion-nav-bar title="Vehicles" ng-style="{'background-color': primarycolor}">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title"></h1>
        </ion-nav-buttons>

    </ion-nav-bar>

	<ion-content>
		<div id="loadingMap">
		 	<h3>Loading Map...</h3>
		</div>

		<div id="map" data-tap-disabled="true"></div>
	</ion-content>
</ion-view>
