<ion-view title="LET'S KEEP IN TOUCH">
    
            <ion-nav-bar class="bar-acme" title="Hello">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">Let's Keep in Touch</h1>
        </ion-nav-buttons>

    </ion-nav-bar>
      <ion-content class="has-header padding">


<div class="list">

 <div class="list card">

  <div class="item item-avatar item-text-wrap">
    <img src="img/contacts-icon.png">
    <h2>New Potential Customer</h2>
    <p>Schedule a meeting to discuss your insurance needs</p>
  </div>
<!--
  <div class="item item-body">
    <img class="full-image" src="img/acme2.png">
    <p>
      The single most common mistake that most policyholders make is not reviewing their coverage often enough.  Policyholders mistakenly think that these reviews are just opportunities for the insurance companies to charge more.  The fact of the matter is that over three quarters of the reviews that we conduct at Acme Insurance end up saving the customer money.
    </p>
    
  </div>-->



  <label class="item item-input">
    <input type="text" placeholder="First Name, Last Name" id="custname">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Company Name" id="companyname">
  </label>
  
  <label class="item item-input">
    <input type="text" placeholder="Cell" id="cell">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Email" id="email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Address" id="addr1">
  </label>
  <!--<label class="item item-input">
    <input type="text" placeholder="Apt/Suite" id="addr2">
  </label>-->
  <label class="item item-input">
    <input type="text" placeholder="Zip" id="zip">
  </label>
   <label class="item-select">
  <select>
      <option>Ohio</option>
      <option selected>Kentucky</option>
      <option>Tennessee</option>
      <option>Virginia</option>
      <option>West Virginia</option>
    </select></label></div>
    <a class="button button-small bar-generac acmebutton" ng-click="insertme();">save</a>
</div>
  </ion-content>

  <div class="bar bar-footer bar-stable">
  <div class="title"></div>
</div>


  <!--<ion-footer-bar align-title="left" class="bar-generac">
  
  <a class="button button-icon icon ion-arrow-left-a" href="#/menu/gas6"></a>
  
</ion-footer-bar>-->
</ion-view>