<ion-view title="Add Task">
    <ion-nav-bar title="Hello" ng-style="{'background-color': primarycolor}">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title">My Tasks</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding">
        <div class="list">
            <div class="list card">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/list.png">
                    <br><h2>My Tasks</h2>
                  
                </div>
                <label class="item item-input item-thumbnail-left">
                    <i class="icon ion-ios-list-outline placeholder-icon"></i>
                    <input type="text" placeholder="Task" id="task">
                </label>
                <label class="item item-input item-thumbnail-left">
                    <i class="icon ion-ios-list-outline placeholder-icon"></i>
                    <input type="date" placeholder="Due Date" id="duedate">
                </label>
                
                <li class="item item-checkbox bar-energized">
                    <label class="checkbox">
                        <input type="checkbox" id="completed">
                    </label>
                    Completed?
                </li>
                
            </div>
            <a class="button button-small kinveybutton" ng-click="insert();">Save</a>
            <a class="button button-small kinveybutton" ng-click="autoCreate(100);">Autogenerate</a>
            <!-- <div class="list card">
                <input type="number" placeholder="Count" id="count"></input>
                
            </div> -->
        </div>
    </ion-content>
    <div class="bar bar-footer bar-kinvey">
        <div class="title"></div>
    </div>
    <!--<ion-footer-bar align-title="left" class="bar-generac">
  
  <a class="button button-icon icon ion-arrow-left-a" href="#/menu/gas6"></a>
  
</ion-footer-bar>-->
</ion-view>