<ion-view cache-view="false" view-title="Products">

  <ion-nav-bar title="Products" ng-style="{'background-color': primarycolor}">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        <h1 class="title"></h1>
      </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="has-header padding">
    <ion-list>
<!--       <ion-item class="item-remove-animate item-leftitem-icon-right pane" ng-repeat="product in products" type="item-text-wrap">
      <center><img ng-src="img/{{product.thumbimg}}" height="100">
       <div class="item item-text-wrap">
        <h2 class="item-text-wrap"><b>{{product.title}}</b></h2></div>
       
      </ion-item>
 -->
      <ion-item ng-repeat="product in products"
        class="item-thumbnail-left">

        <img ng-src="img/{{product.thumbimg}}">
        <h2>{{product.title}}</h2>
        <div class="item item-text-wrap" ng-bind-html="product.description"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
