<ion-view title="RISK ASSESSMENT">
    <!--<ion-header-bar class="bar-acme">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        <h1 class="title">Risk Assessment</h1>
      </ion-header-bar>-->
            <ion-nav-bar class="bar-acme">
        <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>-->

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>

        <!--<ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-compose" ng-click="modal.show()"></button>
        </ion-nav-buttons>-->
    </ion-nav-bar>

      <ion-content class="has-header padding" ng-controller="RiskCtrl">

        <div class="list">

<div class="list card">

  <div class="item item-avatar item-text-wrap">
    <img src="img/icon-health.png">
    <h2>Calculate Your Risk Profile</h2>
    <p>Find out what you can do to improve your health and lower your rates</p>
  </div>




          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="text" placeholder="Weight (lbs.)" id="yourweight">
            </label>
           
          </div>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="text" placeholder="Weekly Exercise (min.)" id="yourexercise">
            </label>
           
          </div>

<div>
  <label class="item item-input item-select">
    <div class="input-label">
      Age
    </div>
    <select id="yourage">
      <option>< 21</option>
      <option selected>21-35</option>
      <option>35-55</option>
      <option>55-65</option>
      <option>65+</option>
    </select>
  </label>
</div>

<div>
  <label class="item item-input item-select">
    <div class="input-label">
      Gender
    </div>
    <select id="yourgender">
      <option selected>Male</option>
      <option>Female</option>
    </select>
  </label>
</div>


          <div>
          <li class="item item-toggle">
     Smoker?
     <label class="toggle toggle-assertive">
       <input type="checkbox" id="yoursmoker">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</div>

</div>

 <button class="button button-small acmebutton" ng-click="computeRisk();">
              Calculate
            </button>
</div>

  <div class="card">
  <div class="item item-text-wrap">
    <label>WHAT'S YOUR RISK?</label>
    <h2>{{riskrating}}</h2>
  </div>
  

  <div class="list" id="riskReport" ng-hide="showRisk" class="ng-hide">
  <div class="item range range-positive">
    
    <input type="range" id="myrisk" ame="volume" min="0" max="100" value="63">

    
  </div>
  <div><label id=>{{myadvice}}</label></div>
</div>


</div>

</div>
  </ion-content>


  <div class="bar bar-footer bar-stable">
  <div class="title"></div>
</div>

  <!--<ion-footer-bar align-title="left" class="bar-generac">
    <a class="button button-icon icon ion-arrow-left-a" href="#/menu/gas2"></a>
    <a class="button button-icon icon ion-arrow-right-a" href="#/menu/gas4"></a>
  </ion-footer-bar>-->
</ion-view>