<ion-view view-title="Tasks">
    <ion-nav-bar title="Tasks" ng-style="{'background-color': primarycolor}">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">Tasks</h1>
        </ion-nav-buttons>

    </ion-nav-bar>
     
      <ion-content class="has-header padding">

  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="task in tasks track by task._id" type="item-text-wrap">
       <h2><b>{{task.action}}</b></h2>
    
        <i class="icon ion-ios-calendar icon-ios-calendar"></i> 
        <h2>Due Date: {{task.duedate}}</h2>
        <input type="checkbox" class="item item-checkbox" ng-model="task.status" ng-true-value="'complete'" ng-false-value="'active'" ng-change="doSave(task)"/>

        
        
        <!-- <input type="checkbox" ng-model="task.completed" ng-true-value="true" ng-false-value="false">           -->
        

<!--        <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox" ng-model="task.completed" ng-true-value="true" ng-false-value="false">
        </label>
        Complete
      </li>
 -->      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button" ng-click="doSync();">Sync</button>
  </div>
  
  </div>
</ion-footer-bar>
</ion-view>
