<ion-view view-title="Tasks">
    <ion-nav-bar title="Tasks" ng-style="{'background-color': primarycolor}">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">Tasks</h1>
        </ion-nav-buttons>

    </ion-nav-bar>
     
      <ion-content class="has-header padding">

  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="task in tasks track by task._id" type="card">
        <div class="item item-text-wrap" ng-bind-html="task.action"> 
        </div>
        <p>Due Date: {{task.duedate}}</p>
        <i class="icon ion-ios-calendar icon-ios-calendar"></i> 
        
        <input type="checkbox" class="item item-checkbox" ng-model="task.status" ng-true-value="'complete'" ng-false-value="'active'" ng-change="doSave(task)"/>
        
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button" ng-click="doSync();">Sync</button>
  </div>
  
  </div>
</ion-footer-bar>
</ion-view>
